.imageWrapper {
  height: var(--size-3);
  width: var(--size-3);
  border-radius: var(--radius-100);
  border: var(--size-0000) solid rgba(0, 0, 0, 0.1);
  -webkit-animation: colorChange 120s ease-in-out 0s infinite normal none;
  animation: colorChange 120s ease-in-out 0s infinite normal none;
}
