@media screen and (min-width: 40em) {
  // Root Variables
  :root {
    --scale-0: 1.4375rem;
    --size-0: 1.4375rem;
  }

  // Intro
  .introWrapper {
    text-align: center;
    .lead {
      width: 70%;
    }
  }
}
