.mt-0,
.mb-0 {
  margin: 0;
}

.mt-1 {
  margin-top: var(--size-1);
}

.mt-2 {
  margin-top: var(--size-2);
}

.mt-3 {
  margin-top: var(--size-3);
}

.mt-4 {
  margin-top: var(--size-4);
}

.mt-5 {
  margin-top: var(--size-5);
}

.mt-6 {
  margin-top: var(--size-6);
}

.mb-1 {
  margin-bottom: var(--size-1);
}

.mb-2 {
  margin-bottom: var(--size-2);
}

.mb-3 {
  margin-bottom: var(--size-3);
}

.mb-4 {
  margin-bottom: var(--size-4);
}

.mb-5 {
  margin-bottom: var(--size-5);
}

.mb-6 {
  margin-bottom: var(--size-6);
}