:root {
  --scale-ratio: 1.175;
  --scale-000: calc(var(--scale-0) * 0.5);
  --scale-00: calc(var(--scale-0) * 0.75);
  --scale-0: 1rem;
  --scale-1: calc(var(--scale-0) * var(--scale-ratio));
  --scale-2: calc(var(--scale-1) * var(--scale-ratio));
  --scale-3: calc(var(--scale-2) * var(--scale-ratio));
  --scale-4: calc(var(--scale-3) * var(--scale-ratio));
  --scale-5: calc(var(--scale-4) * var(--scale-ratio));
  --scale-6: calc(var(--scale-5) * var(--scale-ratio));
  --scale-7: calc(var(--scale-6) * var(--scale-ratio));
  --scale-8: calc(var(--scale-7) * var(--scale-ratio));
  --scale-huge: calc(var(--scale-8) * var(--size-ratio));
  --font-family-default: "Inter", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --leading-default: 1.5;
  --leading-heading: 1.25;
  --tracked: -0.015em;
  --tracked-tight: -0.02em;
  --tracked-loose: 0.1em;
  --font-default: var(--font-weight-default) var(--scale-0) /
    var(--leading-default) var(--font-family-default);
  --font-heading: var(--font-weight-bold) var(--scale-3) /
    var(--leading-heading) var(--font-family-default);
  --size-ratio: 2;
  --size-0000: calc(var(--size-0) * 0.125);
  --size-000: calc(var(--size-0) * 0.25);
  --size-00: calc(var(--size-0) * 0.5);
  --size-0: 1rem;
  --size-1: calc(var(--size-0) * var(--size-ratio));
  --size-2: calc(var(--size-1) * var(--size-ratio));
  --size-3: calc(var(--size-2) * var(--size-ratio));
  --size-4: calc(var(--size-3) * var(--size-ratio));
  --size-5: calc(var(--size-4) * var(--size-ratio));
  --size-6: calc(var(--size-5) * var(--size-ratio));
  --size-7: calc(var(--size-6) * var(--size-ratio));
  --size-8: calc(var(--size-7) * var(--size-ratio));
  --elevation-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --elevation-2: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  --elevation-3: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --elevation-4: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  --elevation-5: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  --elevation-6: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  --easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --delay-1: 300ms;
  --delay-2: 600ms;
  --delay-3: 900ms;
  --duration-1: 550ms;
  --duration-2: 850ms;
  --duration-3: 1000ms;
  --layer-0: 0;
  --layer-1: 10;
  --layer-2: 20;
  --layer-3: 30;
  --layer-4: 40;
  --layer-5: 50;
  --layer-top: 2147483647;
  --radius-0: 0;
  --radius-1: 0.125em;
  --radius-2: 0.25em;
  --radius-3: 0.5em;
  --radius-4: 1em;
  --radius-5: 1.2em;
  --radius-100: 100%;
  --font-weight-default: 300;
  --font-weight-bold: 700;
  --color-primary: var(--color-black);
  --color-text: var(--color-black);
  --color-text-light: var(--color-grey-900);
  --color-bg: #ffffff;
  --color-black: #14191f;
  --color-grey-100: #f6f7f7;
  --color-grey-300: #e9eaeb;
  --color-grey-500: #cdcfd3;
  --color-grey-700: #a0a0a2;
  --color-grey-900: #4e4e50;
  --color-purple: #6236ff;
  --color-beige: #fafafa;
  --spacing: --size-3;
  --spacing-small: --size-2;
}
