header {
  opacity: 0;
  margin: {
    top: var(--size-2);
    bottom: var(--size-2);
  }
  .breadcrumb {
    font: {
      size: var(--scale-0);
    }
    color: var(--color-grey-500);
    span {
      color: var(--color-text);
      &:before {
        content: "/";
        padding: {
          left: var(--size-00);
          right: var(--size-00);
        }
      }
    }
  }
}
