header {
  margin: {
    top: var(--size-2);
    bottom: var(--size-0);
  }
  .breadcrumb {
    font: {
      size: var(--scale-0);
    }
    color: var(--color-grey-500);
    span {
      color: var(--color-text);
      &:before {
        content: "/";
        padding: {
          left: var(--size-00);
          right: var(--size-00);
        }
      }
    }
    a {
      &:link {
        color: var(--color-grey-500);
      }
      &:visited {
        color: var(--color-grey-500);
      }
      &:hover {
        color: var(--color-grey-700);
      }
      &:active {
        color: var(--color-grey-500);
      }
      &:after {
        display: none;
        // background: var(--color-grey-700);
      }
    }
  }
  --sal-duration: var(--duration-6);
  --sal-delay: var(--delay-6);
  .cv {
    svg.icon {
      height: var(--size-1);
      width: var(--size-1);
    }
    text-align: right;
    a {
      color: var(--color-grey-500);
      &:hover {
        color: var(--color-text);
      }
      &::after {
        display: none;
      }
    }
  }
}
