.hugeTitle {
  user-select: none;
  white-space: nowrap;
  margin: 0;
  padding: {
    top: var(--size-1);
    bottom: var(--size-1);
  }
  font: {
    size: var(--scale-huge);
  }
  color: var(--color-grey-100);
}